# Salesforce / SFDX / CCI
.cci
.sfdx
.localdevserver
/src.orig
/src
.sf

# Python
*.pyc
__pycache__

# Robot Framework results
robot/lwc/results/

# Editors
*.sublime-project
*.sublime-workspace
.vscode
.idea
.project
.settings

# Misc
.DS_Store
