h1 {
    color: red;
    font-weight: 100;
}


li {
    list-style-type: circle;
    align-items: center;
}
/* select all div eleements and style as such */
div {
    background-color: lightgray;
    width: 300px;
    height: 300px;
    margin: 10px;
    padding: 20px;
}
/* element selector + class selector */
li.special, span.special {
    color: orange;
    font-weight: bold;
}
/*  Decendent combinator */
li em {
    color: rebeccapurple;
}
/* adjacent sibling combinator */
h1 + p {
    font-size: 200%;
}
/* style based on state */
a:link {
    color: pink;
}

a:visited {
    color: green;
}

a:hover {
    text-decoration: none;
}

