.container{
    width: 400px;
    height: 400px;
    background-color: white;
}

.m {
    height : 200px;
}
.t {
    border: 1px;
    border-radius: 2px;
    border-color: red;
    border-style: solid;

}

.blueo, div.blueo > * {
    border: 1px;
    border-radius: 2px;
    border-color: blue;
    border-style: solid;

}
